<h2>Clients</h2>

<div class="well">
  <ul class="nav nav-pills">
    {{#link-to 'clients.index' tagName="li"}}<a href="">All Clients</a>{{/link-to}}
    {{#link-to 'clients.new' tagName="li"}}<a href="">Add New Client</a>{{/link-to}}
  </ul>
</div>

{{outlet}}